@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
}
.Topbar {
  display: flex;
}

.Page1 {
  background-color: black;
  height: 100vh;
  font-family: "Mulish", serif;
  width: 100%;
}

.navBar {
  background-color: black;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 7%;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navBar a {
  text-decoration: none;
  color: rgb(3, 255, 238);
  position: relative;
  top: 40%;
}
.name {
  color: white;
}

.glow {
  color: rgb(3, 255, 238);
}

.middleSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70%;
  align-items: center;
  width: 80%;
}

.greet {
  color: white;
}

.middle {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25%;
}

.left {
  display: flex;
  flex-direction: column;
}

.ssicons {
  display: flex;
  gap: 2%;
}

.contactBtn {
  color: rgb(3, 255, 238);
  border: 2px solid rgb(3, 255, 238);
  width: fit-content;
  padding: 2%;
  display: flex;
  gap: 5px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.circle {
  width: 50vh;
  height: 50vh;
  background-color: rgb(3, 255, 238);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.profileImage {
  position: relative;
  top: -18%;
  height: 65vh;
  width: 49vh;
}

.page2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr;
  background-color: rgb(17, 16, 16);
  width: 100%;
  font-family: "Mulish", serif;
  color: white;
}

.Eheading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 255, 238);
}

.education {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr;
  font-size: small;
}

.TimeLine {
  display: flex;
  justify-content: center;
  height: 90%;
}

.line {
  width: 2px;
  height: 100%;
  background-color: rgb(3, 255, 238);
}

.leftInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.eduBoxL {
  text-align: right;
  width: 100%;
  height: 40%;
}

.rightInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.eduBoxR {
  text-align: left;
  width: 100%;
  height: 60%;
}

.page3 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-rows: 2fr 7fr;
  font-family: "Mulish", serif;
}

.fourSkillBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 70%;
  margin: auto;
  height: 70vh;
}
.skillBoxes {
  background-color: rgb(3, 255, 238);
  width: 80%;
  height: 80%;
  border-radius: 2rem;
  border: 30px solid rgb(3, 255, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page4 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr;
  font-family: "Mulish", serif;
  background-color: rgb(17, 16, 16);
}

.ProjectBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.projectbox {
  width: 60%;
  height: 70%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10%;
  border-radius: 2rem;
  flex-direction: column;
}

.projectCiricle {
  width: 10vh;
  height: 10vh;
  background-color: rgb(3, 255, 238);
  border-radius: 50%;
}

.projectHeading {
  color: rgb(3, 255, 238);
  font-size: large;
}

.projectDetails {
  color: white;
  font-size: x-small;
}

.ProjectImgae {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .circle {
    width: 26vh;
    height: 26vh;
  }

  .profileImage {
    top: -16%;
    height: 33vh;
    width: 25vh;
  }
  .middleSec {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 7%;
  }
}
