@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  font-family: "Mulish", serif;
}
.Topbar {
  display: flex;
}

.Page1 {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.navBar {
  background-color: black;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 7%;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.PhnavBar {
  display: none;
}
.sidebarPhone {
  display: none;
}
.threeBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lines {
  width: 35px;
  height: 3px;
  background-color: rgb(3, 255, 238);
}
.navBar a {
  text-decoration: none;
  color: rgb(3, 255, 238);
  position: relative;
  top: 40%;
}
.name {
  color: white;
}

.glow {
  color: rgb(3, 255, 238);
}

.middleSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70%;
  align-items: center;
  width: 80%;
}

.greet {
  color: white;
}

.middle {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25%;
}

.left {
  display: flex;
  flex-direction: column;
}

.ssicons {
  display: flex;
  gap: 2%;
}

.contactBtn {
  color: rgb(3, 255, 238);
  border: 2px solid rgb(3, 255, 238);
  width: fit-content;
  padding: 2%;
  display: flex;
  gap: 5px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.circle {
  width: 52vh;
  height: 52vh;
  background-color: rgb(3, 255, 238);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.profileImage {
  position: relative;
  top: 2%;
  height: 50vh;
  width: 50vh;
}

.page2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr;
  background-color: rgb(17, 16, 16);
  width: 100%;
  font-family: "Mulish", serif;
  color: white;
}

.Eheading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 255, 238);
}

.education {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr;
  font-size: small;
}

.TimeLine {
  display: flex;
  justify-content: center;
  height: 90%;
}

.line {
  width: 2px;
  height: 100%;
  background-color: rgb(3, 255, 238);
}

.leftInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.eduBoxL {
  text-align: right;
  width: 70%;
  height: 40%;
}

.rightInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.eduBoxR {
  text-align: left;
  width: 70%;
  height: 40%;
}

.eduyearLeft {
  position: relative;
  left: 40px;
}

.eduyearRight {
  position: relative;
  right: 40px;
}

.page3 {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-rows: 2fr 7fr;
  font-family: "Mulish", serif;
}

.fourSkillBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 70%;
  margin: auto;
  height: 70vh;
}
.skillBoxes {
  background-color: rgb(17, 16, 16);
  width: 80%;
  height: 60%;
  border-radius: 2rem;
  border: 30px solid rgb(17, 16, 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hoverSkill :hover {
  background-color: rgb(3, 255, 238);
  border: 30px solid rgb(3, 255, 238);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 60%;
  border-radius: 2rem;
}

.skillBoxHead {
  color: rgb(3, 255, 238);
}

.page4 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr;
  font-family: "Mulish", serif;
  background-color: rgb(17, 16, 16);
}

.ProjectBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.projectbox {
  width: 60%;
  height: 70%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10%;
  border-radius: 2rem;
  flex-direction: column;
}

.projectCiricle {
  width: 10vh;
  height: 10vh;
  background-color: rgb(3, 255, 238);
  border-radius: 50%;
}

.projectHeading {
  color: rgb(3, 255, 238);
  font-size: large;
}

.projectDetails {
  color: white;
  font-size: x-small;
}

.ProjectImgae {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page5 {
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: "Mulish", serif;
  color: white;
  display: grid;
  grid-template-rows: 2fr 7fr;
}

.contactMeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.msg-Submit {
  display: grid;
  grid-template-rows: 3fr, 1fr;
  align-items: center;
  justify-content: start;
}

.personDetailsAligncenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -7%;
  width: 80vh;
}

.personDetails input {
  width: 70%;
  padding: 12px 20px;
  border: 3px solid rgb(3, 255, 238);
  border-radius: 1em;
  background-color: black;
  outline-color: rgb(3, 255, 238);
  color: white;
}

.msg-Submit textarea {
  background-color: black;
  border-color: rgb(3, 255, 238);
  border-radius: 2em;
}

.fixed-textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  resize: none;
  border: 3px solid #ccc;
  outline-color: rgb(3, 255, 238);
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  scrollbar-color: black;
}

textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sendBtn {
  border-color: rgb(3, 255, 238);
  border-radius: 2rem;
  width: 20vh;
  height: 5vh;
  background-color: rgb(3, 255, 238);
  color: black;
  font-size: medium;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .circle {
    width: 26vh;
    height: 26vh;
    position: relative;
    top: -15%;
  }

  .profileImage {
    height: 25vh;
    width: 25vh;
  }
  .middleSec {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 7%;
  }
  .contactMeContainer {
    grid-template-rows: 1fr 1fr;
  }

  .fourSkillBoxes {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;
    gap: 0em;
  }
  .ProjectBoxes {
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-columns: none;
    gap: 7em;
  }
  .page3 {
    height: 140vh;
    grid-template-rows: 10vh 90vh;
  }
  .eduyearLeft {
    position: block;
    left: 0px;
  }
  .eduyearRight {
    position: block;
    right: 0px;
  }
  .eduBoxR {
    text-align: left;
    width: 90%;
    height: 40%;
  }
  .eduBoxL {
    text-align: right;
    width: 90%;
    height: 40%;
  }

  .middle {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15%;
  }

  .name {
    font-size: x-small;
    text-wrap: nowrap;
  }
  .page4 {
    height: 150vh;
    display: grid;
    grid-template-rows: 1fr 7fr;
  }
  .projectbox {
    padding: 5%;
  }
  .contactMeContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .personDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .personDetailsAligncenter {
    left: 0%;
    width: 40vh;
  }
  .fixed-textarea {
    width: 300px;
    height: 150px;
  }
  .msg-Submit {
    display: grid;
    grid-template-rows: 3fr, 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .navBar {
    display: none;
  }
  .PhnavBar {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 7%;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
  }
  .sidebarPhone {
    width: 80%;
    height: 100vh;
    background-color: rgb(17, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerIcons {
    width: 80%;
    height: 100vh;
    display: none;
    background-color: rgb(17, 16, 16);
    color: rgb(3, 255, 238);
    position: fixed;
    z-index: 2;
    right: 0;
  }
  .closeIcon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .showSidebar {
    display: flex;
  }
  .hideSidebar {
    display: none;
  }
  .sidebarPhone a {
    text-decoration: none;
    color: rgb(3, 255, 238);
    position: relative;
    padding: 10%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .middleSec {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 5%;
  }
  .page3 {
    height: 200vh;
  }
  .page4 {
    height: 210vh;
    grid-template-rows: 1fr 10fr;
  }
  .projectbox {
    width: 60%;
    height: 80%;
    justify-content: space-between;
    padding: 7%;
  }
  .circle {
    width: 23vh;
    height: 23vh;
    position: relative;
    top: 5%;
  }

  .profileImage {
    height: 22vh;
    width: 22vh;
  }

  .right {
    align-items: start;
  }

  .page2 {
    height: 120vh;
  }

  .page3 {
    height: 220vh;
  }

  .skillBoxes {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .TimeLine {
    height: 95%;
  }
  .Page1 {
    height: 120vh;
  }
}

@media (min-width: 375px) and (max-width: 575px) and (min-height: 700px) {
  .page3 {
    height: 170vh;
  }
}

@media (min-height: 700px) and (max-height: 750px) and (max-width: 100px) {
  .page3 {
    height: 200vh;
  }
}

@media (min-height: 900px) and (max-height: 1400px) and (min-width: 700px) and (max-width: 1050px) {
  .page3 {
    height: 110vh;
  }
  .circle {
    top: 20%;
  }
}
